@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    font-family: 'Roboto', sans-serif;
}
.jumbotron {
    background-color: #DADADA;
}
p.lead {
  margin-top: 30px;
    font-size: 15px;
}
.container-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
